@import "tailwindcss";

:root {
  --neutral: #FFEBD8;
  --accent: #FF5C28;
  --foreground: #321800;
}

@theme inline {
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
}

body {
  background: var(--neutral);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*{
    cursor: none;
}